DataScienceEcosystem

in this notebook, we will summerize tools of data science and ecosystem

**objectives:**  
*python*  
*R*  
*SQL*

popular languages of data science:  
    1.python  
    2.R  
    3.SQL

commonly used data science libraries:  
1.pandas  
2.SciPy  
3.NumPy

| Data science tools |
| ------------------ |
| Rstudio |
| Apache spark |

### below are few examples of evaluating arithmetic expressions in python

this simple arithmetic expression to multiply then add integers

In [6]:
(3*4)+5

17

this will convert 200 minuates to hours

In [7]:
200/12

16.666666666666668

## auther
abdulahi abdirashid said